{% extends "layout.html.twig" %}


{% block title %}
    {{'messages.list'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <div> 
                        <span class="glyphicon glyphicon-user"></span>Bonjour {{ app.user.username }} <span class="caret"></span>

                        <a href="{{ path('logout') }}" class="btn btn-primary"> {{'security.logout.submit'|trans}}</a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        {{'messages.list'|trans}}


                    {% else %}
                        {{'messages.error'|trans}}
                    {% endif %}

                {% endif %}

            </div>
        </div>

    {% endblock %}

