{% extends "layout.html.twig" %}


{% block title %}
    {{'messages.list'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div> 
                        <span class="glyphicon glyphicon-user"></span>Bonjour {{ app.user.username }} <span class="caret"></span>
                        <a href="{{ path('logout') }}" class="btn btn-primary"> {{'security.logout.submit'|trans}}</a>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    {% if is_granted('ROLE_ADMIN') %}
                        {{'messages.list'|trans}}

                        {% if contacts|length > 0 %}
                            <table class="contacts-list">
                                <tr class="contacts-list-th">
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Sujet</th>
                                    <th>Message</th>
                                    <th>Date de création</th>
                                    <th>Date de mise à jour</th>
                                    <th>
                                        <img class="question-help" title="Veuillez cocher la case pour indiquer que la demande a été traitée" srcset="{{ asset('images/question.svg')}}"/>
                                        Traité</th>
                                </tr>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>{{ contact.username }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>{{ contact.subject }}</td>
                                        <td>{{ contact.message }}</td>
                                        <td>{{ contact.createdAt|date('d/m/Y') }}</td>
                                        <td>{{ contact.updatedAt|date('d/m/Y') }}</td>
                                        <td><input type="checkbox" class="contact-done" value="on" {% if contact.done is same as(true) %}checked="checked"{% endif %} data-url="{{ path('treat_question') }}" data-contact-id="{{ contact.id }}" /></td>
                                    </tr>

                                {% endfor %}
                            </table>
                            <span class="treat-question"></span>
                        {% endif %}
                        <ul class="pagination">
                            {% if nbPages > 1 %}
                                {% for p in range(1, nbPages) %}
                                    <li{% if p == page %} class="active"{% endif %}>
                                        <a href="{{ path('contacts_list', {'iPage': p}) }}">{{ p }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>


                    {% else %}
                        {{'messages.error'|trans}}
                    {% endif %}


                </div>

            </div>
        {% endif %}
    </div>

{% endblock %}

